<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'about.html' %}

{% block content %}
<br>
<h1>INFO BOOK {{ book.id }}</h1>
<div>
    <p><strong>Book:</strong> {{ book.book_name }}</p>
    {% if book.author %}
    <p><strong>Author:</strong> {{ book.author }}</p>
    {% endif %}
    {% if book.genre_type_id %}
    <p><strong>Genre:</strong> {{ book.genre_type_id }}</p>
    {% endif %}
    {% if book.publisher %}
    <p><strong>Publisher:</strong> {{ book.publisher }}</p>
    {% endif %}
    {% if book.publication_date %}
    <p><strong>Publication date:</strong> {{ book.publication_date }}</p>
    {% endif %}
</div>
{% endblock %}
</body>
</html>